/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Sans-Serif;
    background-color: #eee;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden; /* Prevent chat bubbles from overflowing */
}

/* Chat form styles */
.chat-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
}

.chat-form input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

.chat-form input:focus {
    border-color: #555;
}

/* Chat container styles */
.chat-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto; /* Allow scrolling for chat bubbles */
    display: flex;
    flex-direction: column-reverse; /* Reverse order for chat bubbles */
}

/* Chat bubble styles */
.chat {
    margin-top: 10px; /* Change margin to margin-top */
    max-width: 80%;
    align-self: flex-start; /* Align chat bubbles to left */
    background-color: #e0f0f0;
    border-radius: 15px 0 15px 15px;
    padding: 10px 15px;
}

.user {
    align-self: flex-end; /* Align user chat to right */
    background-color: #e0f0f0;
    border-radius: 15px 0 15px 15px;
}

.fatih-ai {
    align-self: flex-start; /* Align bot chat to left */
    background-color: #6766FF;
    color: #fff;
    border-radius: 0 15px 15px 15px;
}

/* Animation */
@keyframes chat_masuk {
    100% {
        transform: translateY(0);
    }
}

.chat {
    animation: chat_masuk .3s forwards;
}

/* Media query for mobile */
@media only screen and (max-width: 599px) {
    .container {
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .chat-form {
        padding: 10px;
    }

    .chat-container {
        height: calc(100vh - 160px);
    }

    .chat {
        max-width: 100%;
    }
}
