{
   margin: 0;
   padding: 0;
   block-sizing: border-box;
}
body{
   background-color: #eee;
   color: #111;
   font-family: Sans-Serif;
   display: flex;
   justify-content: center;
}
.container{
   position: relative;
   width: 50px;
   height: 100vh;
}
.chat-form{
   position: absolute;
   right: 0;
   left: 0;
   bottom: 30px;
}
.chat-form input{
   width: 100%;
   background: none;
   border: 2px solid #888;
   outline: none;
   padding: 15px;
   border-radius: 5px;
}
.chat-form input:focus{
   border-color: #555;
}
.chat-container{
   position: absolute;
   right: 0;
   left: 0;
   bottom: 100px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.chat{
   transform: translateY(20px);
   animation: chat_masuk .3s forwards;
}
.user{
   display: flex;
   justify-content: end;
}
.user p{
   width: max-content;
   background:-color: #ccc;
   font-size: .8em;
   padding: 10px 15px;
   border-radius: 0 15px 15px 15px;
}
.bot p{
   width: max-content;
   background-color: #6766FF;
   color: #eee;
   font-size: .8em;
   padding: 10px 15px;
   border-radius: 0 15px 15px 15px;
}
@keyframes chat_masuk{
   100%{
      transform: translateY(0);
   }
}